.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  margin: 0;
  font-family: Helvetica Neue;
}

nav {
  background: blue;
  height: 46px;
}

main {
  width: 920px;
  background: red;
  margin: 0 auto;
}

.sidebar {
  width: 300px;
  float: left;
  /*background: white;*/
}

.timeline {
  width: 600px;
  float: right;
  background: pink;
}

.sidebar, .timeline {
  height: 500px;
}

/* Sidebar - profile*/

.profile {
  background: #fff;
  border: 1px solid #ccc;
}
.bg-photo {
  background: #C92828;
  height: 96px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -30px;
}

.profile img {
  border-radius: 6px;
  margin: 0 10px;
}

.profile-pic, .account-details {
  float: left;
}

.profile h3 {
  margin: 35px 0 0 0;
  font-size: 18px;
}

.profile .handle {
  font-size: 12px;
  color: #66757f;
}

.stats {
  margin-bottom: 10px;
}
.stats span {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
  display: block;
  color: #66757f;
  text-transform: uppercase;
}

.stat {
  width: 33%;
  float: left;
}

.stat a {
  color: #d00;
  display: block;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

.profile form {
  background: #F9E9E9;
  border: 1px solid #E9A9A9;
  padding: 13px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.profile form textarea {
  height: 30px;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #ccc;
  width: 100%;
  border: solid 1px rgba(201,40,40,0.25);
}

.profile form textarea:focus {
  height: 90px;
}

.actions {
  float: right;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.actions button {
  background: #C92828;
  color: #fff;
  opacity: .2;
  border: 0;
  font-size: 15px;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
}

.actions .char_count {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}

.tweet {
  background: green;
  margin-bottom: 10px;
  height: 100px;
  padding: 30px;
  font-size: 20px;
  color: #fff;
}

.loader {
  display: none;
  text-align: center;
}